@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");

/* Mobile 375px Desktop 1440px */

:root {
  /* Primary colors */
  --main-red: hsl(0, 78%, 62%);
  --main-cyan: hsl(180, 62%, 55%);
  --main-orange: hsl(34, 97%, 64%);
  --main-blue: hsl(212, 86%, 64%);
  /* Neutral colors */
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.head {
  margin-top: 40px;
}
.head1 {
  font-weight: 200;
  color: var(--dark-blue);
  font-size: 22px;
  text-align: center;
  margin-bottom: 2px;
}
.head2 {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.phead {
  text-align: center;
  font-weight: 200;
  color: var(--grayish-blue);
  font-size: 15px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 65px;
}
.card1 {
  border-top: 4px solid var(--main-cyan);
  border-radius: 6px;
  box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -webkit-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -moz-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  padding-left: 18px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 200px;
  margin-top: 20px;
}
.card2 {
  border-top: 4px solid var(--main-red);
  border-radius: 6px;
  box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -webkit-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -moz-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  padding-left: 18px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 200px;
  margin-top: 20px;
}
.card3 {
  border-top: 4px solid var(--main-orange);
  border-radius: 6px;
  box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -webkit-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -moz-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  padding-left: 18px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 200px;
  margin-top: 20px;
}
.card4 {
  border-top: 4px solid var(--main-blue);
  border-radius: 6px;
  box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -webkit-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  -moz-box-shadow: 1px 1px 19px -5px rgba(76, 78, 97, 1);
  padding-left: 18px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  height: 200px;
  margin-top: 20px;
}
.cardhead {
  font-weight: 600;
  color: var(--dark-blue);
  font-size: 20px;
  padding-top: 15px;
}
.cardphead {
  font-weight: 200;
  color: var(--grayish-blue);
  font-size: 14px;
}
.img {
  position: absolute;
  right: 25px;
  top: 115px;
}

footer {
  margin-top: 45px;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: var(--main-red);
}
@media (min-width: 992px) {
  .phead {
    width: 50%;
    font-size: 16px;
  }
  .head1 {
    font-size: 25px;
  }
  .head2 {
    font-size: 25px;
  }
  .cards {
    width: 95%;
    margin: 0 auto;
    position: relative;
  }
  .card1 {
    width: 30%;
    height: 230px;
    position: absolute;
    left: 0;
    top: 100px;
  }
  .card2 {
    width: 30%;
    height: 230px;
    margin-bottom: 30px;
  }
  .card3 {
    width: 30%;
    height: 230px;
  }
  .card4 {
    width: 30%;
    height: 230px;
    position: absolute;
    right: 0;
    top: 100px;
  }
  .img {
    top: 140px;
    right: 20px;
  }
  .cardhead {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer {
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
  }
}

@media (min-width: 1440px) {
  .phead {
    width: 40%;
    font-size: 18px;
  }
  .head1 {
    font-size: 35px;
  }
  .head2 {
    font-size: 35px;
  }
  .cards {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .card1 {
    width: 30%;
    height: 230px;
    position: absolute;
    left: 0;
    top: 100px;
  }
  .card2 {
    width: 30%;
    height: 230px;
    margin-bottom: 30px;
  }
  .card3 {
    width: 30%;
    height: 230px;
  }
  .card4 {
    width: 30%;
    height: 230px;
    position: absolute;
    right: 0;
    top: 100px;
  }
  .img {
    top: 140px;
    right: 20px;
  }
  .cardhead {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cardphead {
    width: 95%;
    text-align: start;
  }
  footer {
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
  }
}
